<div class="modal" id="msg_popup_pop">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" id="amhr_modal_header_pop">
                <h5 class="modal-title" id="amhr_modal_title_pop">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="amhr_modal_body_text_pop">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer" id="btn_confirm_pop">
                <button type="button" class="btn" name="amhr_btn_ok_pop" id="confirm_yes_pop" data-bs-dismiss="modal">YES</button>
                <button type="button" class="btn btn-secondary" name="amhr_btn_no" id="confirm_no_pop" data-bs-dismiss="modal">NO</button>
            </div>
            <div class="modal-footer" id="btn_alert_pop">
                <button type="button" class="btn btn-primary" name="amhr_btn_ok_pop" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>