
@{
    ViewBag.Title = "UserSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row" style="justify-content:center;">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="justify-content:center; width:30%;">
            <fieldset style="justify-content:center;">
                <div>
                    <label for="exampleInputId1" class="form-label mt-4">Id</label>
                    <div style="display:flex;">
                        <input type="text" class="form-control" id="exampleInputId1" placeholder="Enter Id">
                        <button type="button" class="btn btn-primary" style="margin-left:10px; max-width:600px;" onclick="requestCheckID()">check</button>
                    </div>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                </div>
                <div>
                    <label for="exampleInputPassword2" class="form-label mt-4">Password Check</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password Check" autocomplete="off">
                </div>
                <div>
                    <label for="exampleSelect1" class="form-label mt-4">User Type</label>
                    <select class="form-select" id="exampleSelect1">
                        <option value="ADM">Admin</option>
                        <option value="GNL">General</option>
                        <option value="PDS">Product Seller</option>
                        <option value="PDM">Product Manager</option>
                        <option value="CLS">Class Seller</option>
                        <option value="CLM">Class Manager</option>
                    </select>
                </div>

                <div>
                    <label for="exampleTextarea" class="form-label mt-4">Description</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" maxlength="300"></textarea>
                </div>


            </fieldset>
            <fieldset>
                <div>
                    <label for="exampleInputName1" class="form-label mt-4">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name">
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <fieldset>
                    <legend class="mt-4">Usable</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="Y" checked="">
                        <label class="form-check-label" for="optionsRadios1">
                            Use
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="N">
                        <label class="form-check-label" for="optionsRadios2">
                            Not Used
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="mt-4">Deleted</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios2" id="optionsRadios3" value="Y" checked="">
                        <label class="form-check-label" for="optionsRadios3">
                            Delete
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios2" id="optionsRadios4" value="N">
                        <label class="form-check-label" for="optionsRadios4">
                            Not Deleted
                        </label>
                    </div>
                </fieldset>

            </fieldset>
        </section>
        @*<section class="col-md-12" aria-labelledby="gettingStartedTitle">
            
            <fieldset>
                <div>
                    <label for="exampleInputName1" class="form-label mt-4">Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name">
                </div>
                <div>
                    <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <fieldset>
                    <legend class="mt-4">Usable</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="Y" checked="">
                        <label class="form-check-label" for="optionsRadios1">
                            Use
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="N">
                        <label class="form-check-label" for="optionsRadios2">
                            Not Used
                        </label>
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="mt-4">Deleted</legend>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios2" id="optionsRadios3" value="Y" checked="">
                        <label class="form-check-label" for="optionsRadios3">
                            Delete
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios2" id="optionsRadios4" value="N">
                        <label class="form-check-label" for="optionsRadios4">
                            Not Deleted
                        </label>
                    </div>
                </fieldset>
 
            </fieldset>
        </section>*@
    </div>
    <div class="row" style="margin-top:10px;">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle" style="text-align:center;">
            <div>
                <button type="button" class="btn btn-primary" onclick="requestSignUp()">Submit</button>
            </div>
        </section>
    </div>
</main>

@section scripts
{
    <script type="text/javascript">

        var ID_CHECK_FLAG = false;

        /*
            requestCheckID : ID 중복여부 체크
        */
        function requestCheckID()
        {
            var useriD = $("#exampleInputId1").val();
            
            $.ajax
                ({
                    url: "/User/CheckUserID"
                    , type: "get"
                    , data: { 'userID': useriD }
                    , success: function (data) {
                        //console.log(data);
                        var result = data.RESULT;
                        if (result == "OK") {
                            ID_CHECK_FLAG = true;
                            //alert("사용 가능한 ID 입니다.", $("#exampleInputPassword1").focus());
                            MsgBox.Inform("사용 가능한 ID 입니다.", function () { $("#exampleInputPassword1").focus(); });
                            
                        }
                        else if (result == "EMPTY")
                        {
                            //alert("ID를 입력하세요.", $("#exampleInputId1").focus());
                            MsgBox.Alert("ID를 입력하세요.", function () { $("#exampleInputId1").focus(); });
                        }
                        else if (result == "NO")
                        {
                            //alert("중복된 ID 입니다.", $("#exampleInputId1").focus());
                            MsgBox.Alert("중복된 ID 입니다.", function () { $("#exampleInputId1").focus(); });
                        }
                    },
                    error: function (data) {
                        MsgBox.Danger(
                            setErrCustomContents(data)
                        );
                    }

                });

        }

        /*
            requestSignUp : 회원가입 
        */
        function requestSignUp()
        {
            if (validateData())
            {
                MsgBox.Confirm("저장하시겠습니까?", function resultFlag(flag) {
                    if (flag)
                    {
                        saveData();
                    }
                    else
                    {
                        return;
                    }
                });
            }
            else
            {
                return;
            }
            
        }

        /*
            validateData : 유효성 검사
        */
        function validateData()
        {
            var useriD = $("#exampleInputId1").val();
            if (useriD.trim() == "") {
                MsgBox.Alert("ID를 입력하세요.", function () { $("#exampleInputId1").focus(); });
                return false;
            }
            if (!ID_CHECK_FLAG) {
                MsgBox.Alert("ID 중복여부를 확인해주세요.", function () { $("#exampleInputId1").focus(); });
                return false;
            }

            var userPassword1 = $("#exampleInputPassword1").val();
            var userPassword2 = $("#exampleInputPassword2").val();
            if (userPassword1.trim() == "")
            {
                MsgBox.Alert("비밀번호를 입력하세요.", function () { $("#exampleInputPassword1").focus(); });
                return false;
            }
            if (userPassword2.trim() == "") {
                MsgBox.Alert("비밀번호 확인을 입력하세요.", function () { $("#exampleInputPassword2").focus(); });
                return false;
            }
            if (userPassword1 != userPassword2)
            {
                MsgBox.Alert("비밀번호와 비밀번호 확인 값이 다릅니다. 동일하게 입력하세요.", function () { $("#exampleInputPassword1").focus(); });
                return false;
            }

            var userDescription = $("#exampleTextarea").val();
            if (userDescription.trim() == "")
            {
                MsgBox.Alert("설명을 입력하세요.", function () { $("#exampleTextarea").focus(); });
                return false;
            }

            var userName = $("#exampleInputName1").val();
            if (userName.trim() == "")
            {
                MsgBox.Alert("이름을 입력하세요.", function () { $("#exampleInputName1").focus(); });
                return false;
            }

            var userEmail = $("#exampleInputEmail1").val();
            if (userEmail.trim() == "")
            {
                MsgBox.Alert("이메일을 입력하세요.", function () { $("#exampleInputEmail1").focus(); });
                return false;
            }
            return true;
        }

        /*
            saveData : 사용자 Data 저장
        */
        function saveData()
        {
            var obj = {
                UserEntity: {}
            };

            obj.UserEntity.USER_ID = $("#exampleInputId1").val();
            obj.UserEntity.USER_NM = $("#exampleInputName1").val();
            obj.UserEntity.USER_PWD = $("#exampleInputPassword1").val();
            obj.UserEntity.USER_TYPE = $("#exampleSelect1").val();
            obj.UserEntity.USER_EMAIL = $("#exampleInputEmail1").val();
            obj.UserEntity.USER_DESCRIPTION = $("#exampleTextarea").val();
            obj.UserEntity.USE_YN = $("input[name='optionsRadios']:checked").val();
            obj.UserEntity.DEL_YN = $("input[name='optionsRadios2']:checked").val();
            obj.UserEntity.CREATE_ID = $("#exampleInputId1").val();
            obj.UserEntity.UPDATE_ID = $("#exampleInputId1").val();

            $.ajax({
                url: "/User/CreateUser"
                , data: { contract: obj }
                , type: "post"
                , success: function (data) {

                    if (data.RESULT)
                    {
                        MsgBox.Inform("회원가입이 완료되었습니다. 로그인 후 이용하여 주십시오.", function () { location.href="/User/UserLogin" });
                    }
                    else
                    {
                        MsgBox.Warning("예상치 못한 오류가 발생하였습니다. 관리자에게 문의하십시오.");
                    }
                }
                , error: function (data) {
                    MsgBox.Danger(
                        setErrCustomContents(data)
                    );

                }
            });
            
        }
    </script>
}





