
@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main >
    
    <div class="row" style="justify-content:center; margin-top:100px;">
        <div class="card  mb-12" style="max-width: 30rem; box-shadow: 0 4px 16px rgba(17, 17, 26, .05), 0 8px 32px rgba(17, 17, 26, .05); border-color:white;" >
            <div class="card-header bg-white" style="text-align:center;">
                <p style="font-size:40px; font-weight:bold;">Welcome !</p>
                <p style="font-size: 18px;  color: #797979;">Sign in AMHR.</p>
            </div>
            <div class="card-body">
                <div>
                    <label for="exampleInputId1" class="form-label mt-4" style="font-size:15px; font-weight:bold; color:dimgrey;">Id</label>
                    <div style="display:flex;">
                        <input type="text" class="form-control" id="exampleInputId1" placeholder="Enter Id" style="max-width:600px;">
                    </div>
                </div>
                <div>
                    <label for="exampleInputPassword1" class="form-label mt-4" style="font-size:15px; font-weight:bold; color:dimgrey;">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" style="max-width:600px;">
                </div>
                <div style="margin-top:35px;">
                    <button type="button" class="btn btn-primary" onclick="requestSignIn()" style="max-width:600px; width:100%;">Login</button>
                    <div style="justify-content:space-between; align-items:center; display:flex; margin-top:25px;">
                        <a href="#">Forgot ID?</a>
                        <a href="#">Forgot PW?</a>
                    </div>
                </div>
                <hr />
                <div style="text-align:center;">
                    <p style="font-size: 18px; color: #797979;">
                        Don't have an account?  @Html.ActionLink("Sign Up", "UserSignup", "User", null, new { @class=""})
                    </p>
                </div>
            </div>
        </div>
    </div>



</main>

@section scripts
{
    <script type="text/javascript">


        /*
            requestSignIn : 로그인
        */
        function requestSignIn()
        {
            if (validateData())
            {
                loginData();
            }
            else
            {
                return;
            }

        }

        /*
            validateData : 유효성 검사
        */
        function validateData()
        {
            var useriD = $("#exampleInputId1").val();
            if (useriD.trim() == "") {
                alert("ID를 입력하세요.");
                return false;
            }

            var userPassword1 = $("#exampleInputPassword1").val();
            if (userPassword1.trim() == "")
            {
                alert("비밀번호를 입력하세요.");
                return false;
            }

            return true;
        }

        /*
            loginData : 사용자 Data 로그인
        */
        function loginData()
        {
            var obj = {
                UserEntity: {}
            };

            obj.UserEntity.USER_ID = $("#exampleInputId1").val();
            obj.UserEntity.USER_PWD = $("#exampleInputPassword1").val();

            $.ajax({
                url: "/User/LoginCheckUser"
                , data: {contract: obj }
                , type: "post"
                , success: function (data)
                {
                    alert(data);
                }
                , error: function (data)
                {
                    alert(data);
                }
            });

        }
    </script>
}


