@model Contract.CodeContract
@{
    ViewBag.Title = "SetSystem";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<!--Main layout-->
<div class="modal-header bg-primary text-white" id="amhr_modal_header">
    <h5 class="modal-title" id="amhr_modal_title">코드 저장</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body" id="amhr_modal_body_text">
    <div class="row">
        <section class="col-md-12">
            <fieldset>
                <div>
                    <label for="Sys_Code_ID_P" class="form-label mt-4">시스템 코드</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Sys_Code_ID_P" placeholder="" style="max-width: 460px;">
                    </div>

                    <label for="Div_Code_ID_P" class="form-label mt-4">분류 코드</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Div_Code_ID_P" placeholder="" style="max-width: 460px;">
                    </div>


                    <label for="Code_ID_P" class="form-label mt-4">코드</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Code_ID_P" placeholder="" style="max-width:380px;">
                        <button type="button" class="btn btn-primary" style="margin-left:10px; max-width:600px;" onclick="">check</button>
                    </div>

                    <label for="Code_NM_P" class="form-label mt-4">코드명</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Code_NM_P" placeholder="" style="max-width: 460px; ">
                    </div>

                    <label for="Code_Description_P" class="form-label mt-4">코드 설명</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Code_Description_P" placeholder="" style="max-width: 460px;">
                    </div>

                    <label for="Code_Description_P" class="form-label mt-4">사용여부</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios_P" id="optionsRadios1_P" value="Y" checked="">
                        <label class="form-check-label" for="optionsRadios1_P">
                            사용
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="optionsRadios_P" id="optionsRadios2_P" value="N">
                        <label class="form-check-label" for="optionsRadios2_P">
                            미사용
                        </label>
                    </div>


                    <label for="Sort_Order_P" class="form-label mt-4">정렬순서</label>
                    <div style="display:flex; justify-content:center;">
                        <input type="text" class="form-control" id="Sort_Order_P" placeholder="" style="max-width: 460px;">
                    </div>
                </div>

            </fieldset>
        </section>
    </div>
</div>
<div class="modal-footer" id="btn_save">
    <button type="button" class="btn btn-primary" name="save_yes" id="save_yes" onclick="requestSaveCode()">SAVE</button>
    <button type="button" class="btn btn-secondary" name="save_no" id="save_no" data-bs-dismiss="modal">CANCEL</button>
</div>
<!--Main layout-->


@section scripts{

    <script type="text/javascript">

        var CODE_CHECK_FLAG = false;

        /*
            DOM 준비 시
        */
        $(function () {

        });

        /*
            requestCheckCodeId : 코드 중복여부 체크
        */
        function requestCheckCodeId()
        {
            var obj = {};
            var sysCodeId = $("#Sys_Code_ID_P").val();
            var divCodeId = $("#Div_Code_ID_P").val();
            var codeId = $("#Code_ID_P").val();
            obj.SYS_CODE_ID = sysCodeId;
            obj.DIV_CODE_ID = divCodeId;
            obj.Code_ID = codeId;
            
            $.ajax({
                url: "/Admin/CheckCodeID",
                type: "post",
                data: { contract: obj },
                success: function (data)
                {
                    var result = data.RESULT;
                    if (result == "OK")
                    {
                        CODE_CHECK_FLAG = true;
                        MsgBox_Pop.Inform("사용가능한 코드 입니다.", function () { $("#Code_NM_P").focus(); });
                    }
                    else if (result == "EMPTY_SYS") {
                        CODE_CHECK_FLAG = false;
                        MsgBox_Pop.Alert("시스템 코드를 입력하세요.", function () { $("#Sys_Code_ID_P").focus(); });
                    }
                    else if (result == "EMPTY_DIV") {
                        CODE_CHECK_FLAG = false;
                        MsgBox_Pop.Alert("분류 코드를 입력하세요.", function () { $("#Div_Code_ID_P").focus(); });
                    }
                    else if (result == "EMPTY_CD") {
                        CODE_CHECK_FLAG = false;
                        MsgBox_Pop.Alert("코드를 입력하세요.", function () { $("#Code_ID_P").focus(); });
                    }
                    else if (result == "NO") {
                        CODE_CHECK_FLAG = false;
                        MsgBox_Pop.Alert("중복된 코드 입니다.", function () { $("#Code_ID_P").focus(); });
                    }
                }
            });
        }

        /*
            requestSaveCode : 코드 저장 요청
        */
        function requestSaveCode() {
            if (validateData()) {
                MsgBox_Pop.Confirm("저장하시겠습니까?", function resultFlag(flag) {
                    if (flag) {
                        saveData();
                    }
                    else {
                        return;
                    }
                });
            }
            else {
                return;
            }

        }

        /*
            validateData : 유효성 검사
        */
        function validateData() {
            var Sys_Code_ID = $("#Sys_Code_ID_P").val();
            if (Sys_Code_ID.trim() == "") {
                MsgBox_Pop.Alert("시스템 코드를 입력하세요.", function () { $("#Sys_Code_ID_P").focus(); });
                return false;
            }

            var Div_Code_ID = $("#Div_Code_ID_P").val();
            if (Div_Code_ID.trim() == "") {
                MsgBox_Pop.Alert("분류 코드를 입력하세요.", function () { $("#Div_Code_ID_P").focus(); });
                return false;
            }

            var Code_ID = $("#Code_ID_P").val();
            if (Code_ID.trim() == "") {
                MsgBox_Pop.Alert("코드를 입력하세요.", function () { $("#Code_ID_P").focus(); });
                return false;
            }

            if (!CODE_CHECK_FLAG) {
                MsgBox_Pop.Alert("코드 중복여부를 확인해주세요.", function () { $("#Code_ID_P").focus(); });
                return false;
            }

            var Code_NM = $("#Code_NM_P").val();
            if (Code_NM.trim() == "") {
                MsgBox_Pop.Alert("코드명을 입력하세요.", function () { $("#Code_NM_P").focus(); });
                return false;
            }

            var Code_Description = $("#Code_Description_P").val();
            if (Code_Description.trim() == "") {
                MsgBox_Pop.Alert("코드설명을 입력하세요.", function () { $("#Code_Description_P").focus(); });
                return false;
            }


            var Sort_Order = $("#Sort_Order_P").val();
            if (Sort_Order.trim() == "") {
                MsgBox_Pop.Alert("정렬순서를 입력하세요.", function () { $("#Sort_Order_P").focus(); });
                return false;
            }

            return true;
        }

        /*
            saveData : 사용자 Data 저장
        */
        function saveData() {
            var obj = {
                CodeEntity: {}
            };

            obj.CodeEntity.Sys_Code_ID = $("#Sys_Code_ID_P").val();
            obj.CodeEntity.Div_Code_ID = $("#Div_Code_ID_P").val();
            obj.CodeEntity.Code_ID = $("#Code_ID_P").val();
            obj.CodeEntity.Code_NM = $("#Code_NM_P").val();
            obj.CodeEntity.Code_Description = $("#Code_Description_P").val();
            obj.CodeEntity.Sort_Order = $("#Sort_Order_P").val();
            obj.CodeEntity.USE_YN = $("input[name='optionsRadios_P']:checked").val();

            $.ajax({
                url: "/Admin/RequestSaveCode"
                , data: { contract: obj }
                , type: "post"
                , success: function (data) {

                    if (data.RESULT == "IY") {
                        MsgBox_Pop.Inform("코드 저장이 완료되었습니다.", function () { window.location.reload(); });
                    }
                    else {
                        MsgBox_Pop.Warning("예상치 못한 오류가 발생하였습니다. 관리자에게 문의하십시오.");
                    }
                }
                , error: function (data) {
                    MsgBox_Pop.Danger(
                        setErrCustomContents(data)
                    );

                }
            });

        }

    </script>

}
