
@{
    ViewBag.Title = "SetSystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<!--Main layout-->

   
    <div class="container pt-4"></div>
    <main style="margin-top: 58px;">
    </main>
<!--Main layout-->
