/*
    - amhr_cmm.css
    - 공통 css
*/



/* error modal */
div .amhr_error_div > table > tbody > tr > td > code { display : grid; background-color : white; }
div .amhr_error_div > table > tbody > tr > td { background-color: white; display: grid; }

/* layout */
div #amhr-nav-bar-dropdown { --bs-dropdown-link-hover-bg: #ba4d46; --bs-dropdown-min-width: 6.0rem;}
/*div #amhr-nav-bar-dropdown { --bs-dropdown-link-hover-bg: #574c4c; --bs-dropdown-min-width: 6.0rem;}*/

/* Sidebar */
.sidebar {   position: relative;   left: 0;  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);  width: 275px;  z-index: 600;  overflow-y: auto; }
@media (max-width: 991.98px) { .sidebar { width: 100%; } }
@media (min-width: 991.98px) { main { padding-left: 240px; } }
.sidebar .active { border-radius: 5px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); }
.sidebar-sticky { position: relative; top: 0; height: calc(100vh - 48px); padding-top: 0.5rem; overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ }

/* border-box-shadowing */
.amhr-border-box-shadowing {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
}